
.DS_Store
Initial_Distributions/.DS_Store
.DS_Store
.DS_Store
.DS_Store
.notas.swp
.ipynb_checkpoints/aux_functions-checkpoint.jl
.ipynb_checkpoints/ini_dat-checkpoint.ipynb
.ipynb_checkpoints/pic_1_termal-T3-checkpoint.ipynb
.ipynb_checkpoints/post_pro_thermal-checkpoint.ipynb
Images/
Initial_Distributions/
Results/